### Requires "direnv", see http://direnv.net
### and, `brew install direnv` to get started

if ( which rbenv 2>/dev/null ); then
  export RBENV_ROOT="${HOMEBREW_PREFIX}/var/rbenv"
  eval "$( rbenv init - )"
fi


## Include local changes that are not included in the git repository
if [[ -r .envrc.local ]]; then
  source_env .envrc.local
fi
